body {
    background: linear-gradient(black, gray, black);
}
header {
    width: 100%;
    height: 15%;
    border: solid gray 4px;
    text-align: center;
    font-size: 24;
    padding: 0;
    color: lightblue;
}
nav {
    text-align: center;
    margin: auto;
    font-size: 20px;
}
a {
    font-size: 18;
    color: lightblue;
}
a :hover {
    color: darkorange;
    font-size: 30px;
}