body {
    background: linear-gradient(black, gray, black);
}
header {
    width: 100%;
    height: 15%;
    border: solid gray 4px;
    text-align: center;
    font-size: 24px;
    padding: 0;
    color: lightblue;
}
h1 a {
    font-size: 34px;
}
nav {
    text-align: center;
    margin: auto;
   /* font-size: 20px;*/
}
a {
    font-size: 24px;
    color: lightblue;
}
a:hover {
    color: darkorange;
    font-size: 30px;
    text-decoration: underline;
}
#halfHor {
    width: 47%;
    height: auto;
    float: left;
    border: outset gray 10px;
    margin-top: 80;
}
#halfVer {
    width: 47%;
    height: auto;
    float: left;
    border: outset gray 10px;
}
#fullHor {
    width: 70%;
    height: auto;
    margin: auto;
    border: outset gray 10px;
}
#quote {
    font-size: 28pt;
    color: lightblue;
    margin: 20px;
    text-align: center;
}
@media screen and (max-width: 650px) {
    header, h1 a {
        font-size: 16px;
    }
}
@media screen and (max-width: 650px) {
    #halfVer, #halfHor {
        width: 100%;
       /* clear: both;*/
    }  
}
table, th, td {
    border: solid grey 2px;
    color: lightblue;
    text-align: left;
}
